<btn-voltar></btn-voltar>
<h2>Sobre o Sistema</h2>
<div>
    <p>
        O Memoteca Cinematográfica é um sistema onde você pode registrar e recordar os filmes e séries que já
        assistiu, está assistindo ou até mesmo aqueles que pretende assistir no futuro. É uma maneira prática de manter
        um controle do que já passou pela sua tela, reviver momentos marcantes e, ao mesmo tempo, planejar suas próximas
        maratonas. Aqui, você pode armazenar suas memórias, opiniões e até se inspirar nas escolhas de outras pessoas
        para futuras aventuras cinematográficas.
    </p>
</div>